/* CSS */
.container {
  display: flex;
  justify-content : space-between;
}

.left-column {
  
  flex: 1; /* This will make the columns take up equal space */
 
  margin-left: 110px;
  

 
}

.right-column {
  
  flex: 1; /* This will make the columns take up equal space */
  margin-right: 100px;

 
}
.vertical-line {
  border-right: 1px solid #42506B; /* This will create a vertical line with 1px width and black color */
  height: 100%; /* This will make the line take up the full height of the container */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1{
  font-size: 18 ;
  font-weight: 700;
}


.button {
  position: absolute;
  top: 66%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.input-border {
  border: 0px thick #000;
  border-radius: 4.84px;
}
